.about {
    position: relative;
    margin: 0 auto;
    padding: 20px 15px 40px;
    max-width: 1200px;
    &__title {
        @include text(30px, 600);
        padding: 20px 0;
        z-index: 3;
        @include tablet {
            padding-bottom: 30px;
        }
    }
    &__description {
        line-height: 1.5;
        max-width: 560px;
        margin: 0 auto;
        z-index: 3;
    }
    @include tablet {
        padding: 60px 15px 80px;
    }
}