.dog-walker {
    margin: 0 auto; 
    padding: 0 15px 30px;
    max-width: 1200px;
    text-align: center;
    @include smaller {
        &--schedule .wp-block-media-text__media {
            position: relative;
            &::before {
                    content: url('assets/dollar-symbol.svg');
                    position: absolute;
                    left: 65%;
                    top: 40%; 
                    transform: rotate(-12deg); 
                }
            &::after {
                    content: url('assets/dollar-symbol.svg');
                    position: absolute;
                    left: 75%; 
                    top: 40%; 
                    transform: rotate(-12deg); 
                }
            }
        }
    @include small {
        text-align: left;
    }
    @include larger {
        min-height: 400px;
    }
    &__title {
        @include text(30px, 600)
        line-height: 1.3;
        padding: 20px 0;
        &--schedule {
            @include text(22px, 600);
        }
    }
    &__description {
        line-height: 1.4;
        max-width: 500px;
        &--schedule {
            padding-bottom: 30px;
            line-height: 1.4;
        }
    }  
    & .wp-block-media-text__content  {
        height: 100%;
    }
}