.faq {
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
    &__title {
        @include text(30px, 600);
        padding-bottom: 20px;
    }
    &__accordion {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 20px 0;
        max-width: 580px;
    }
    &__accordion-item {
        width: 100%;
       & .wp-block-coblocks-accordion-item__title {
           @include text(18px, 500);
           background-color: $secondary-color;
           color: #2b2b2b;
       }
       & .wp-block-coblocks-accordion-item__content {
           @include text(16px, 400);
           background-color: $thirtiary-color;
           color: $text-color; 
       }
    }
}