.footer {
    width: 100%;
    padding: 30px 15px;
    background-color: #333333;
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;;
        position: relative;
        margin: 0 auto;
        padding: 20px 0;
        max-width: 1200px;
    }
    &__social {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        max-width: 1200px; 
    }
    &__logo-link {
        display:block;
        position: relative;
        width: 65px;
        height: 0;
        padding-bottom: 60px;
    }
    &__logo-img {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid $secondary-color;
        border-radius: 50%;
    }
    &__copyright {
        @include text(14px, 400);
        width: 100%;
        color: #fff;
        text-align: center;
    }
}