.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 8px #0E3C41;
    z-index: 12;
    transition: all $transition-timing ease-in;
    &__container {
        margin: 0 auto;
        padding: 0 15px 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        background-color: #fff; 
        z-index: 3;
    }
    &__logo-link {
        position: relative;
        width: 65px;
        height: 0;
        padding-bottom: 60px;

    }
    &__logo-img {
        position: absolute;
        width: 100%;
    }
}