.hero {
    position: relative;
    padding-top: 65px;
    background: center / cover no-repeat url('../../../../../assets/hero-image.jpg');
    &__img {
        min-height: 420px;
        background-color: $hero-background;
        @include large {
            min-height: 550px;
        }
    }
    &__title {
        @include text(44px, 700);
        line-height: 1.2;
    }
    &__subtitle { 
        @include text(25px, 500);
        line-height: 1.4;
    }
    &__join {
        @include text(32px, 600);
        margin-top: 10px;
        letter-spacing: 1px;
    } 
}