.join {
    position: relative;
    margin: 0 auto;
    padding: 50px 15px;
    max-width: 530px;
    &::before {
        content: url('assets/paw-large.svg');
        position: absolute;
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -60%);
        width: 90%;
        height: 100%;
        opacity: .3;
        z-index: -1;
    }
    @include smaller {
        padding: 80px 15px;
    }
    &__title {
        @include text(30px, 600);
        padding-bottom: 20px;
    }
    & .sign-up__submit {
        margin-top: 20px;
    }
} 