.services {
    position: relative;
    margin: 0 auto;
    padding: 50px 15px 20px;
    max-width: 1200px;
    &__title {
        padding-bottom: 30px;
    }
    & .wp-block-column:not(:first-child) { 
        margin-left: 15px
    }
    & .wp-block-column:nth-child(2n) {
        margin-left: 15px
    }
    &__cards {
        justify-content: center;
        flex-wrap: wrap;
        transition: all $transition-timing ease-in;
        max-width: 1200px;
    }
}