.burger {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    padding: 15px 0 15px 15px;
    &__line {
        display: block; 
        margin-bottom: 3px;
        width: 35px;
        height: 4px;
        background-color: $primary-color;
    }
    @include tablet {
        display: none;
    }
}