.dogs {
    background-color: $thirtiary-color; 
    padding: 40px 0 0;
    &__title {
        @include text(22px, 600)
        padding: 20px 20px 0;
    }
    &__images {
        margin: 0 auto;
        padding: 30px 15px 0;
        justify-content: center;
        max-width: 1000px;
        @include larger {
            justify-content: space-between;
            padding-bottom: 30px;
        }
    }
    &__block {
        margin: 5px;
    }
    &__img {
        border-radius: 50%;
        border: 2px solid $secondary-color;
        img {
            margin-bottom: -4px;
        }
    }
    & .wp-block-column {
        flex-basis: auto !important;
        flex-grow: 0;
    }
    & .wp-block-column:nth-child(2n) {
        margin-left: 0;
    }
    & .wp-block-column:not(:first-child) {
        margin-left: 0;
    }
    @include tablet {
        padding: 60px 0;
    }
} 