// MEDIA Queries
$smaller-width: 520px;
$small-width: 600px;
$tablet-width: 768px;
$large-width: 862px;
$larger-width: 992px;
$desktop-width: 1024px;


@mixin smaller {
  @media (min-width: #{$smaller-width}) {
    @content;
  }
}

@mixin small {
  @media (min-width: #{$small-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large-width}) {
    @content;
  }
}

@mixin larger {
  @media (min-width: #{$larger-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
} 