.nav {
    display: none;
    position: fixed;
    top: 55px;
    left: 0;
    justify-content: center;
    padding: 20px 30px;
    width: 100%;
    background-color: #fff;
    transition: all $transition-timing ease-in;
    z-index: 2; 
    &.show {
        display: block;
    }
    @include tablet {
        display: flex;
        position: relative;
        top: 0;

    }
    li {
        display: inline;
        list-style-type: none;
        text-align: center;
    }
    a {
        @include text(22px, 600); 
        display: block;
        padding: 10px 25px 5px 0;
        text-decoration: none;
        color: $primary-color;   
        font-size: 22px;   
        transition: all .5s ease-in;
        &:hover {
            color: $secondary-color;
        }
        @include tablet {
            @include text(16px, 500);
            display: inline-block;
            padding-right: 20px;
        }

    }
}