.services {
    &__title {
        @include text(30px, 600)
    }
    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 35px 15px 15px;
        padding: 20px; 
        max-width: 260px;
        background-color: $thirtiary-color;
        border-radius: 5px;
        transition: all $transition-timing ease-in;
        &::before {
            position: absolute;
            top: -40px;   
            left: 50%;
            transform: translate(-50%);
            padding: 10px 15px;
            background-color: #fff;
            border: 2px solid $thirtiary-color;
            border-radius: 50%;
        }
        &--paw {
            &::before {
                content: url("assets/paw.svg");
            }
        }
        &--dog-man {
            &::before {
                content: url("assets/dog&man.svg");
            }
        }
        &--paw-heart {
            &::before {
                content: url("assets/paw-heart.svg");
            }
        }
        &--dog-walking {
            &::before {
                content: url("assets/dog-walking.svg");
            }
        }
        &:hover {
            background-color: $card-hover;
            .services__card-title {
                color: #fff;
            }
            .services__card-description {
                color: #fff;
            }
        }
    }
    &__card-title {
        @include text(22px, 600)
        color: $primary-color;
        margin: 50px 0 15px;
    }
    &__description {
        @include text(16px, 500)
        color: $text-color;
    } 
}
