.dog-owners {
    &__slider {
        & .slider-front__wrapper {
            padding-bottom: 75.25%;
            @include tablet {
                padding-bottom: 40.25%;
            }
        }
        & .slider-front__text--title {
            color: $secondary-color;
            padding-bottom: 20px;
        }
        & .slider-front__text--content {
            margin: 0 auto;
            max-width: 500px;
        }
        & .flex-control-paging li a {
            background-color: $thirtiary-color;
        }
        & .flex-control-paging li a.flex-active {
            background-color: $secondary-color;
        }
        & .flex-direction-nav a {
            display: none;
                        @include small {
                display: block;
                top: 45%;
            }
        }
        & .flex-direction-nav .flex-next {
            right: 20px;
        }
        & .flex-direction-nav a.flex-next {
            transform: rotate(45deg);
            right: 15px;
            &::before {
                content: '';
                width: 15px;
                height: 15px;
                border-top: 3px solid $thirtiary-color;
                border-right: 3px solid $thirtiary-color;
            }
        }
        & .flex-direction-nav .flex-prev {
            top: 47%;
            right: 20px; 
        }
        & .flex-direction-nav a.flex-prev {
            transform: rotate(45deg);
            left: 15px;
            &::before {
                content: '';
                width: 15px;
                height: 15px;
                border-bottom: 3px solid $thirtiary-color;
                border-left: 3px solid $thirtiary-color;;
            }
        }
    }
} 