.footer {
    &__social-icons {
        display: flex;
        justify-content: center;
        margin: 30px 0;
        width: 100%;
    }
    &__social-icon {
        a {
            position: relative;
            display: block; 
            margin-right: 5px;
            padding: 20px;
            background-color: $secondary-color;
            color: #fff;
            cursor: pointer;
            transition: all $transition-timing ease-in;
            &:hover {
                background-color: $social-icon-hover;
            }
            &::before {
                position: absolute;
                top: 50%;
                left: 50%; 
                transform: translate(-50%, -50%);
                height: 20px;
            }   
        }
        &--facebook::before {
            content: url('assets/facebook.svg');
            width: 15px;
        }
        &--instagram::before {
            content: url('assets/instagram-brands.svg');
            width: 20px;
        }
        &--pinterest::before {
            content: url('assets/pinterest-p-brands.svg');
            width: 20px;
        }
        &--linkedin::before {
            content: url('assets/linkedin-in-brands.svg');
            width: 20px;
        }
    }
}