$primary-color: #0E3C41;
$secondary-color: #3AB5AC;
$thirtiary-color: #F7E393;


$hero-background: #d8f3f1;

$card-hover: #f1ce41;
$social-icon-hover: #2c8781;

$text-color: #4d4c4c; 
$second-text-color: #939191;


$transition-timing: .3s;