@font-face {
    font-family: 'Comfortaa', cursive;
    src: url(http://waggywalker.loc/wp-content/themes/waggywalker/fonts/Comfortaa/static/Comfortaa-Light.ttf),
         url(http://waggywalker.loc/wp-content/themes/waggywalker/fonts/Comfortaa/static/Comfortaa-Regular.ttf),
         url(http://waggywalker.loc/wp-content/themes/waggywalker/fonts/Comfortaa/static/Comfortaa-Medium.ttf),
         url(http://waggywalker.loc/wp-content/themes/waggywalker/fonts/Comfortaa/static/Comfortaa-SemiBold.ttf),
         url(http://waggywalker.loc/wp-content/themes/waggywalker/fonts/Comfortaa/static/Comfortaa-Bold.ttf);
}

body {
    font-family: 'Comfortaa', cursive;
  }