@mixin hero-text-position {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin text($size: null, $weight: null) {
    @if $size != null {
      font-size: $size;
    }
    @if $weight != null {
      font-weight: $weight;
    }
  }
